#menu
    float: left
    min-height: calc(100% - 35px)
    width: 160px
    transition: 0.5s width
    box-shadow(2)
    user-select: none
    -webkit-user-select: none

    button
        margin: 0
        padding: 7px 5px
        width: 100%
        outline: 0
        border: 0
        background-color: white
        color: #009248
        font-weight: 300
        font-size: 17px
        font-family: Roboto
        transition: 0.3s
        user-select: none
        -webkit-user-select: none

        &:hover
            background-color: #009248
            color: white

        &:first-child
            margin-top: 5px

    button
        margin-top: 10px

    .dropdown-menu
        font-weight: 300
        font-family: Roboto

        h4
            margin: 0
            margin-top: 10px
            margin-bottom: 5px
            color: #009248
            text-align: center
            font-weight: 300
            font-size: 14px

            &:first-child
                margin-top: 5px
                margin-bottom: 5px

        button
            margin-top: 0
            height: 34px

            p
                margin: 0

            &:hover
                & svg
                    fill: white

            svg
                float: right
                margin: -20px 5px 0 0
                height: 20px
                transition: 0.3s
                fill: #009248

        ul
            margin: 0
            padding: 0
            width: 100%
            color: #009248
            list-style: none
            text-align: center
            font-size: 16px

        li
            padding: 7px 5px
            transition: 0.3s

            &:hover
                background-color: #009248
                color: white

        .hidden
            li
                padding: 0
                height: 0
                font-size: 0
